<h1>Update your student</h1>

<%=form_for @student do |f| %>
<%=f.label :name%>
<%=f.text_field :name%><br>

<%=f.label :mod%>
<%=f.number_field :mod%><br>

<%=f.submit value = "Update your student"%>
<% end %>