<h1>These are some cool students:</h1>
<div><%= link_to 'Create Student', new_student_path %></div> 
<br /> 
<table> 
  <thead> 
    <tr> 
      <th>Name</th> 
      <th>Mod</th>
      <th></th>  
    </tr> 
  </thead> 
  <tbody> 
    <% @students.each do |student| %> 
      <tr> 
        <td><%= student.name %></td> 
        <td><%= student.mod %></td> 
        <td> 
          <%= link_to 'View', student %> | 
          <%= link_to 'Edit', edit_student_path(student) %> |
          <%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
        </td> 
      </tr> 
    <% end %> 
  </tbody> 
</table> 
