<h1>New Student Form</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error|  %>
        <p style="color: red; font-size: 18px;" ><%= error %></p>
    <% end %>
<% end %>

<%= form_for @student do |f| %>

    <%= f.label :name, "Student Name:" %>
    <%= f.text_field :name %>

    <%= f.label :mod, "Student Mod" %>
    <%= f.number_field :mod %>

    <br /><br />

    <%= f.submit %>

<% end %>