<h1>Edit a duck</h1>

<%=form_for @duck do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name %><br>

    <%=f.label :description %>
    <%=f.text_field :description %><br>

    <%=f.submit value = "Edit your duck"%>
<% end %>